## DATA SECTION

I have downloaded the complete geospatial data of all districts in india from the link https://www.kaggle.com/sirpunch/indian-census-data-with-geospatial-indexing/version/1

Now lets load the excel file into pandas dataframe

In [16]:
import pandas as pd

In [17]:
df=pd.read_csv('district wise centroids.csv')

 ### lets check our dataframe

In [18]:
df

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

We'll only select the the data of Rajasthan State

In [19]:
df_rajasthan=df[df['State']=='Rajasthan']

In [20]:
df_rajasthan.reset_index(inplace=True) #reseting the index
df_rajasthan.drop(columns=['index','State']) #Dropping unnecessary columns

In [25]:
df_rajasthan

          District   Latitude  Longitude
0            Ajmer  26.199300  74.699042
1            Alwar  27.552717  76.653596
2         Banswara  23.453642  74.442469
3            Baran  24.980232  76.862107
4           Barmer  25.770709  71.502971
5        Bharatpur  27.324119  77.217521
6         Bhilwara  25.451198  74.639476
7          Bikaner  28.124891  73.269433
8            Bundi  25.485807  75.799841
9     Chittaurgarh  24.631624  74.800110
10           Churu  28.293304  74.658464
11           Dausa  26.912348  76.573421
12        Dhaulpur  26.723971  77.744762
13       Dungarpur  23.751048  73.847656
14      Ganganagar  29.256785  73.561923
15     Hanumangarh  29.181335  74.746326
16          Jaipur  27.033459  75.771173
17       Jaisalmer  26.869008  71.183719
18           Jalor  25.075781  72.186473
19        Jhalawar  24.247255  76.112429
20      Jhunjhunun  28.135174  75.528409
21         Jodhpur  26.678461  73.004508
22         Karauli  26.519016  76.960818
23            Kota  25.175718  76.186189
24          Nagaur  27.078620  74.142157
25            Pali  25.804904  73.552856
26       Rajsamand  25.248948  73.965702
27  Sawai Madhopur  26.251081  76.421928
28           Sikar  27.646441  75.293174
29          Sirohi  24.797691  72.753091
30            Tonk  26.153935  75.791922
31         Udaipur  24.440768  73.840298

Now we have the required geospatial data of Rajasthan sorted by its districts